{% extends "base.html" %} About {% block activeLink %}   
<a class="nav-item nav-link" id="home" href="/"> PLY-Simple Editor</a>
<a class="nav-item nav-link" id="token" href="/token">Token</a> 
<a class="nav-item nav-link" id="grammar" href="/grammar">Grammar</a>
<a class="nav-item nav-link active" id="about" href="/about">About</a> {% endblock %}
{% block container %} 
Projeto envolto na cadeira de Processamento de Linguagens 2021/2022
Topico: PLY Simple para PLY Original
Autores: Diogo Miguel da Silva Araújo
Diogo da Costa e Silva Lima Rebelo 
Joel Costa Araújo 
{% endblock %}