{% extends "base.html" %} About {% block activeLink %}   
<a class="nav-item nav-link" id="home" href="/"> PLY-Simple Editor</a>
<a class="nav-item nav-link" id="token" href="/token">Token</a> 
<a class="nav-item nav-link" id="grammar" href="/grammar">Grammar</a>
<a class="nav-item nav-link active" id="about" href="/about">About</a> {% endblock %}
{% block container %} 
<div class="boxHome bg-color"> 
    <div class="position-absolute top-50 start-50 translate-middle">    
        <p class="text-center fs-2">
            <img src="https://camo.githubusercontent.com/c50351cd2e424e5f51cc243c434e364826e3b0c10b6758ac2011ee23d48a08f9/68747470733a2f2f66616373323031372e64692e756d696e686f2e70742f73697465732f64656661756c742f66696c65732f6c6f676f5f554d45454e475f73656d5f6e6f6d652e6a7067" alt="EngenhariaInformatica"></br>
        Universidade do Minho<br>
        Processamento de Linguagens <br>
        PLY Simple para PLY<br>
        Diogo Miguel da Silva Araújo<br>
        Diogo da Costa e Silva Lima Rebelo <br>
        Joel Costa Araújo<br>
        2021/2022<br> </p></div>

    </div>
</div>
{% endblock %}